body {
    margin: 0;
    background-color: #1B244A;
    color: whitesmoke;     
    width: 575px;                         
}
h1 {
    width: 150;
    text-align: center;
    margin-bottom: 8px;
}
.container {
    display: flex;
    justify-content: space-around;
    width: 400px;
}
.btn {
    background-color: #1B244A;
    color: #9AABD8;
    border: 1px solid #9AABD8;
    border-radius: 5px;
    padding: 10px 10px;
    font-family: 'Cursed Timer ULiL', sans-serif;
}
.btn-row {
    display: flex;
    width: 140px;
    justify-content: space-between;
    margin: 20px auto;
}
#home-score {
    width: 140px;
    height: 100px;
    background-color: #080001;
    font-family: 'Cursed Timer ULiL', sans-serif;
    font-size: 72px;
    text-align: center;
    color: #F94F6D;
    padding-top: 20px;
}
#guest-score {
    width: 140px;
    height: 100px;
    background-color: #080001;
    font-family: 'Cursed Timer ULiL', sans-serif;
    font-size: 72px;
    text-align: center;
    color: #F94F6D;
    padding-top: 20px;
}
